.color-red {
  color: red;
}
.font-bold {
  font-weight: bolder;
}
.color-blue {
  color: blue;
}
.color-green {
  color: green;
}
.border-2px-solid-red {
  border: 2px solid red;
}
.padding-10px {
  padding: 0px 10px;
}
.txt-underline {
  text-decoration: underline;
}
.margin-top-10px{
    margin: 10px 0px 0px 0px;
    display: block;
}
.display-flex{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.img-width-600px{
  width: 600px;
}