.color-red{
    color: red;
}
.font-bold{
    font-weight: bolder;
}
.color-blue{
    color: blue;
}
.color-green{
    color: green;
}
.border-2px-solid-red{
    border: 2px solid red;
}
.padding-10px{
    padding: 0px 10px;
}